*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body,html{
  height: 100%;
  width: 100%;
}
#main{
  height: 100%;
  width: 100%;
  /* background-color: red; */
}
#nav{
  width: 100%;
  height: 80px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
#nav-part1{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}
.dark-circle{
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: black;
}
#nav-part2{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 40px;
}
#nav-part2 h4{
  font-size: 16px;
  font-weight: 500;
  color:#414141 ;

}
#nav-part2 h4 span{
  color: gray;
  margin-left: 20px;
}
#nav2{
  width: 100%;
  height: 80px;
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 60px;
  padding: 10px  40px;
}
#nav2 h3{
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
  color:#414141 ;
}
#nav2 h3:hover{
  cursor: pointer;
  border-bottom: 2px solid black;
}
#content{
  /* space around operator is mandatory in calc() */
  height: calc( 100% - 160px ); 
  width:  100%;
  /* background-color: lightblue; */
}
#text-content{
  height: 45%;
  width: 100%;
  /* background-color: burlywood; */
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}
#text-content::-webkit-scrollbar{
  background-color: transparent;
  height: 7px;
}
#text-content::-webkit-scrollbar-thumb{
  background-color: orangered;
}
.elem{
  flex-shrink: 0;
  height: 100%;
  width: 50%;
  /* border: 2px solid; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.elem h1{
  font-size: 100px;
  font-weight: 200;
}
#image-content{
  height: 60%;
  width: 100%;
  background-color: rebeccapurple;
}
#image-content img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}